/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	font-family: tahoma;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100vh;
	overflow: hidden;
}

.canvas-container {
	width: 100vw;
	height: 100vh;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	background-color: black;
}

.warpStarImageCanvas {
	display: block;
	position: absolute;
	background-color: black;
	border: 1px solid #333;
	width: auto;
	height: auto;
	z-index: 1000;
	bottom: 0;
	right: 0;
}